/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 html {
  overflow-y: scroll;
}

 body{
 	background-color: #D7F2FA;
 }
#for{
	margin-bottom: 35px;
}
 .jobs{
 	display: block;
	border-style: solid;
	margin: 16px 2px;
	padding: 12px;
	width: 47%;
	float: left;
	font-weight: bold;
	font-size: 20px;
	border-width: 3px;
}

img {
    vertical-align: middle;
    float: right;
    border: 0px none;
}

* {
    box-sizing: border-box;
}


 a:hover { 
 	border-color: #ccc;
 	text-decoration: none; 
 }


/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

h1{
	text-align: center;
}

.btn-apply{
	margin-left: 35px;
}
#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}
.remember{
  margin-left: 20px;
}