<br>
<br>
<br>
<br>
<center>
<h1><strong>Hello, Welcome to my blog.</strong></h1>
<p>This has been exciting so far.</p>
<p>Hope you enjoy my application</p>

<%= link_to 'My Blog', controller:'articles' %>
</center>

